.rtl {
    direction: rtl
}


a {
    text-decoration: none !important;
}


header {
    background-color:#b2d234;
    height: 80px;
    .img-logo {
        height: 60px;
        width: 150px;
        float:right;
        margin-top: 10px;
    }
    .header-drpdwn {
        border-style: none;
        background-color: #b2d234;
        margin-top: 30px;
    }
}


.nav-top {
    background-color: #333;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        float: right;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover, .dropdown:hover .dropbtn {
        background-color:#b2d234;
      }
      
      li.dropdown {
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: right;
      }
      
      .dropdown-content a:hover {background-color: #f1f1f1;}
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-text {
    color: white;
    h5 {
        text-align: center;
    }
}

.product-box {
    margin-bottom: 10px;
    text-align: center;
    border-style:solid;
    border-color:white;
    &:hover {
        border-color:rgba(0,0,0,.125);
    }
    img {   
        height: 100px;
        width: 100px;
        display: flex;
        margin: auto;
        margin-top: 45px;
    }
    .percent { 
        z-index: 1;
        position: absolute;
        top: 2px;
        left: 17px;
        color:aliceblue;;
    }
    .content {
        position: absolute;
        top: 5px;
        left: 2px;
        transform: rotate(-45deg);
        font-size: 12px;
        line-height: 12px;
    }
    .bg-percent {
        border-style: solid;
        border-width: 32px;
        border-color: #ed1c24;
        border-right-color: transparent;
        border-bottom-color: transparent;
    }
    .off {
        color: rgba(red, 0.5);
        position: relative;
        ::before {
            content: " ";
            display: block;
            width: 35%;
            border-top: 2px solid red;
            height: 12px;
            position: absolute;
            bottom: 0;
            left: 80px;
            transform: rotate(-7deg);
        }
    }
}

.t-icon {
    color: #f86c6b !important;;
}

.ch-icon {
    color: #4dbd74;
}

.card-text {
    max-width: 150px;
}

footer {
    background-color: pink;
    min-height: 300px;
    h4 {
        border-bottom: 2px;
        border-bottom-style: solid;
        border-color: palevioletred;
        text-align: right;
        margin-top: 10px;
    }
    p {
        text-align: right;
    }
}


@font-face {
    font-family: Vazir;
    src: url('Vazir.eot');
    src: url('Vazir.eot?#iefix') format('embedded-opentype'),
         url('Vazir.woff2') format('woff2'),
         url('Vazir.woff') format('woff'),
         url('Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('Vazir-Bold.eot');
    src: url('Vazir-Bold.eot?#iefix') format('embedded-opentype'),
         url('Vazir-Bold.woff2') format('woff2'),
         url('Vazir-Bold.woff') format('woff'),
         url('Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('Vazir-Black.eot');
    src: url('Vazir-Black.eot?#iefix') format('embedded-opentype'),
         url('Vazir-Black.woff2') format('woff2'),
         url('Vazir-Black.woff') format('woff'),
         url('Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('Vazir-Medium.eot');
    src: url('Vazir-Medium.eot?#iefix') format('embedded-opentype'),
         url('Vazir-Medium.woff2') format('woff2'),
         url('Vazir-Medium.woff') format('woff'),
         url('Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('Vazir-Light.eot');
    src: url('Vazir-Light.eot?#iefix') format('embedded-opentype'),
         url('Vazir-Light.woff2') format('woff2'),
         url('Vazir-Light.woff') format('woff'),
         url('Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('Vazir-Thin.eot');
    src: url('Vazir-Thin.eot?#iefix') format('embedded-opentype'),
         url('Vazir-Thin.woff2') format('woff2'),
         url('Vazir-Thin.woff') format('woff'),
         url('Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}